$stars-active: 4;

.stars {
    @include flex-between;

    height: 16px;
    width: 96px;

  &__star{
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
  }

  @for $star from 1 through $stars-active{
    & .stars__star:nth-child(-n + #{$star}) {
      background-image: url(../images/star-active.svg);
    }
  }

}

